<%= bootstrap_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "devise-form" }) do |f| %>
	<h2><%= t(".title") %></h2>

  <%= f.email_field :email, :autofocus => true %>

  <%= f.actions do %>
  	<%= f.primary t(".button.submit") %>
		<%= render "devise/shared/links" %>
	<% end %>
<% end %>

