<%= bootstrap_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "devise-form" }) do |f| %>
	<h2><%= t(".title") %></h2>

  <%= bootstrap_flash %>
  
  <%= f.email_field :email, :autofocus => true %>
	<%= f.password_field :password %>
  
	<%= f.control_group :remember_me do %>
  	<% if devise_mapping.rememberable? -%>
		<%= f.check_box :remember_me, :label => t("helpers.label.user.remember_me") %>
		<% end -%>
  <% end -%>

  <%= f.actions do %>
  	<%= f.primary t(".button.submit") %>
		<%= render "devise/shared/links" %>
	<% end %>
<% end %>
